.container{
    max-width: 1100px;
    margin: 150px auto;
    display: flex;
    justify-content: center;
}
.cardsContainer{
    display: grid;
    grid-auto-rows: 50px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 30px;
}
