.item{
    display: grid;
    grid-template-columns: 50px 400px auto 50px;
    gap: 20px;
    align-items: center;
    position: relative;
}
.item img{
    width: 100%;
}
.bth_container{
    display: flex;
    flex-direction: column;
}
.bth{
    border: none;
    background-color: #3c6382;
    color: white;
    margin-bottom: 10px;
    height: 20px;
    width: 20px;
    border-radius: 20px;
}
.deleteItem{
    position: absolute;
    top: 20px;
    right: -10px;
    color: red;
    border-radius: 50px;
    height: 20px;
    width: 20px;
    border: none;
    cursor: pointer;
}
