.item{
    border: 2px solid #3c6382;
    padding: 20px;
    text-align: center;
}
.item a{
    text-decoration: none;
    color: black;
}
.item img{
    width: 100%;
    height: 200px;
    object-fit: contain;
    margin-bottom: 20px;
}
.bth{
    width: 100px;
    margin-top: 20px;
    height: 30px;
    color: white;
    border: none;
    background-color: #34495E;
    cursor: pointer;
}